/* Some basic css */
html, body {margin:0; padding:0; height: 100%; font-size:100%; background-color: #1F1F1F;}
img {margin:0; padding:0; border:0; text-decoration:none;}

body {
	background-blend-mode: color-dodge;
	background-image: url('images/background@3x.png');
	background-color: #1F1F1F;
	background-size: cover;
}

div#logo {
	position: absolute;
	top: 42%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

div #description {
	position: absolute;
	top: 54%;
	left: 50%;	
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: left;
	width: 90%;
	font-family: "Helvetica Neue";
	font-weight: 400;
	font-size: 1em;
	line-height: 140%;
	color: #D8D8D8;
}

div#timeline {
	position: absolute;
	top: 62%;
	left: 50%;	
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: "Helvetica Neue";
	font-size: 1.4em;
	font-weight: 500;
	color: #FFFFFF;
}

div#copyright {
	position:fixed;
	bottom:3px;
	height:5%;
	width:100%;
	text-align: center;
	color: #FFFFFF;
	font-family: "Helvetica Neue";
	font-weight: 300;
	font-size: 0.8em;
}
