body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height:1.3em;
  letter-spacing:0.04em;
  font-weight: lighter;
}

#top {
  background-blend-mode: color-dodge;
  background-image: url('./images/background@3x.png');
  background-color: #1F1F1F;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fixed_bg_180{
  background: url("./images/background@3x.png");
  min-height: 180px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fixed_bg_100{
  background: url("./images/background@3x.png");
  min-height: 100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Add a black background color to the top navigation */
.topnav {
  text-align: center;
  background: url('./images/new_logo_white_comfortaa_togray.png');
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: 8% 90%;
  background-color: #1D1D1D;
  /*overflow: hidden;*/
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 68px;
  padding-bottom: 0px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10000;
}

/* Style the links inside the navigation bar */
.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 10px;
  padding-bottom: 10px;
  margin-right: 18px;
  text-decoration: none;
  font-size: 15px;
  font-weight: lighter;
}

/* Change the color of links on hover */
.topnav a:hover {
  border-bottom: 2px solid #FFFFFF;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: white;
  border-bottom: 2px solid #FFFFFF;
}

.topnav img {
  float: left;
  margin-left: 80px;
  margin-top: -26px;
  width: 250px;
}

.button {
  display: inline-block;
  background-color: #1D1D1D;
  color: #f2f2f2;
  width: 120px;
  height: 38px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-weight: normal;
  border-radius: 8px;
  border: 1px solid #EEEEEE;
  transition: all 0.5s;
  cursor: pointer;
}

.button_large {
  width: 200px;
  height: 50px;
  font-size: 20px;
  letter-spacing:0.04em;
  font-weight: 300;
}

.light_btn{
  background-color: #EEEEEE;
  color: #000000;
  border: none;
}

.outline_btn {
  background-color: #FFFFFF;
  color: #4D4D4D;
  border-color: #4D4D4D;
}
/*
.outline_btn:hover .fas {
  color: #495057;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes fadeIn {
  from{color: #495057;}
  to {color: #AE595B;}
}
*/

.anim_btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.anim_btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.anim_btn:hover span {
  padding-right: 25px;
}

.anim_btn:hover span:after {
  opacity: 1;
  right: 0;
}

.dropdown {
  display: inline-block;
}

.topnav div.active {
  color: white;
  border-bottom: 2px solid #FFFFFF;
}

.dropdown a {
  margin-right: 0;
  padding-right: 0;
}

.dropdown a:hover {
  border-bottom: none;
}

.dropdown-content{
  display: none;
  position: absolute;
  border-top: 4px solid #1D1D1D;
  background-color: #eee;
  min-width: 100px;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.8);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  margin: 0;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-bottom: none;
}

.dropdown-content a:hover {
  background-color: #d8d8d8;
}

.dropdown-content a.activ {
  background-color: #d8d8d8;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.font_title {
  font-weight: lighter;
  font-size: 44px;
}

.font_title_smaller {
  font-weight: lighter;
  font-size: 34px;
}

.font_title_larger_p {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.5em;
  color: #4D4D4D;
}

.font_title_p {
  font-weight: lighter;
  font-size: 23px;
  line-height: 1.5em;
}

.font_larger_p {
  text-align: center;
  font-weight: lighter;
  font-size: 26px;
  line-height: 1.3em;
  color: #4D4D4D;
}

.font_large_p {
  text-align: center;
  font-weight: lighter;
  font-size: 23px;
  line-height: 1.2em;
  color: #4D4D4D;
}

.font_medium_p {
  text-align: center;
  font-weight: lighter;
  font-size: 18px;
  line-height: 1.2em;
  color: #4D4D4D;
}

.font_normal_p {
  text-align: center;
  font-weight: lighter;
  font-size: 16px;
  line-height: 1.2em;
  color: #4D4D4D;
}

p {
  font-size: 15px;
  font-weight: lighter;
  font-family: Avenir, sans-serif;
  line-height:1.2em;
  letter-spacing:0.04em;
}

p.light {
  font-size: 16px;
  color: #4D4D4D;
}

p.light_small {
  color: #4D4D4D;
}

p.bold_small {
  color: #4D4D4D;
  font-weight: 900;
  font-size: 14px;
}

b {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #4D4D4D;
}

.content {
  padding-top: 100px;
}

.content #head {
  line-height: 3.4em;
  padding: 40px 130px;
}

.section_dark {
  display: block;
  padding-left: 60px; 
  background-color: #1D1D1D; 
  color: #f2f2f2;
}

.section_light {
  display: block;
  /*padding-left: 60px;*/
  background-color: #EEEEEE;
  color: #000000;
}

.section_white {
  display: block; 
  /*padding-left: 60px;*/
  padding-top: 40px; 
  background-color: #FFFFFF; 
  color: #000000;
}

.section_gray {
  display: block;
  background-color: #323232;
  color: #d8d8d8;
}

.float_center_box {
  position: relative;
  background: #FFFFFF; 
  text-align: center; 
  color: #000000; 
  padding: 30px; 
  width: 64%; 
  border-radius: 15px; 
  margin: auto; 
  margin-top: -95px; 
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.below_float_box {
  margin-top: -85px; 
  padding-top: 125px;
}

.card_box{
  position: relative;
  float: left;
  background: #FFFFFF; 
  text-align: center; 
  color: #000000; 
  width: 284px; 
  border-radius: 15px; 
  margin-right: 42px; 
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);
}

.form {
  width: 530px;
  padding: 16px 20px;
  margin-left: 150px;
  margin-top: 40px;
  border-radius: 10px;
  border: 1px solid #969696;
  background-color: #fffffe;
  font-size: 14px;
  font-weight: 300;
  color: #4D4D4D;
  outline: none;
}

.form_btn {
  background-color: #1D1D1D;
  color: #f2f2f2;
  width: 174px;
  height: 51px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  margin-left: 10px;
  /*padding-bottom: 6px;*/
  cursor: pointer;
  outline: none;
}

.logo {
  margin-top: -20px;
  text-align: center;
  z-index: 999;
}

.footer {
  text-align: center;
  margin-top: -24px;
  background-color: #FFFFFF;
  padding-top: 40px;
  padding-bottom: 10px;
}

.footer a {
  text-decoration: none;
  color: #0f0f0f;
}

.rotate {
  transform: rotate(-5deg);
  animation: rotation 5s infinite linear;
}

@keyframes rotation {
  50% {transform: rotate(5deg);}
  /*
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
  */
}

.updown {
  animation: updown 5s infinite linear;
}

@keyframes updown {
  50% {transform: rotate(0.02deg) translateY(10px);}
}

.leftright {
  animation: leftright 5s infinite linear;
}

@keyframes leftright {
  50% {transform: rotate(0.02deg) translateX(10px);}
}

.hide {
  display: none;
}

.qrcode:hover + .hide {
  display: block;
}

div.card {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 380px;
  background-color: #FFFFFF;
  padding: 10px 20px;
  margin-bottom: 6px;
}

div.grow {
  transition: 1s ease;
}

div.grow:hover {
  cursor: pointer;
  /*transform: rotateZ(-2deg);*/
  transform: translateY(-10px);
  transition: 1s ease;
}

a.default {
  color: #4C6EF5;
  text-decoration: none;
}

a.default:hover {
  text-decoration: underline;
}

/*** ACCORDION ***/

.accordion {
  /*background-color: #eee;*/
  /*background-color: #599EBB44;*/
  background-color: #8EA0B344;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

button.active, button.accordion:hover {
  /*background-color: #ccc;*/
  /*background-color: #599EBB88;*/
  background-color: #8EA0B3AA;
}

button.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

button.active:after {
  content: "\2212";
}

div.panel {
  padding: 1px 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/*** COOKIE WARNING ***/

#myCookieConsent {
    z-index: 999;
    min-height: 20px;
    font-family: OpenSans, arial, "sans-serif";
    padding: 10px 20px;
    background: rgba(0,0,0,0.8);
    overflow: hidden;
    position: fixed;
    color: #FFF;
    bottom: 0px;
    right: 10px;
    display: none;
    left: 0;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
#myCookieConsent div {
    padding: 5px 0 0;
}
#myCookieConsent a {
    color: #ffba55;
    display: inline-block;
    padding: 0 10px;
}
#myCookieConsent a:hover {
  color: #fda016;
}
#myCookieConsent a#cookieButton {
    display: inline-block;
    color: #000000;
    font-size: 1.1em;
    background: #ffba55;
    text-decoration: none;
    cursor: pointer;
    padding: 8px 20px;
    float: right;
    border-radius: 20px;
}
#myCookieConsent a#cookieButton:hover {
  background: #fda016;
  color: #000;
}
